# ========================
# Banco de dados PostgreSQL
# ========================
DATABASE_URL=postgresql://postgres.seu_ref:SUA_SENHA@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

# ========================
# Autenticação JWT
# ========================
JWT_SECRET=

# ========================
# Supabase
# ========================
SUPABASE_URL=https://kkmskwmkhyssrxqbsrqv.supabase.co
SUPABASE_ANON_KEY=

# ========================
# Ambiente
# ========================
ENVIRONMENT=production

# ========================
# Servidor
# ========================
PORT=8000

